<div id="load_overlay" class="load_overlay"></div>

{{#if showErrorLocation}}
<div class="map_error--holder row">
  <div class="columns shrink">
    <i class="map_error--icon fa fa-exclamation-circle" aria-hidden="true"></i>
  </div>
  <div class="columns">
    <div class="map_error">
      It seems like there is a problem with the geolocation. Please make sure it is enabled in your settings.
    </div>
  </div>
</div>
{{/if}}

{{input id="searchKeyword" type="text" placeholder="Search with Google Map" value=searchText}}
<div id="map" class="map-canvas map_search"></div>

{{!-- Display place information --}}
<div id="place_map" class="place_map panel left {{placePanelDisplayed}}">
  <div class="place_map--inner">
    <article class="place">
      <header class="place--header">
        <a href="#" class="button edit-button" {{action "savePlace"}}><i class="place--action--icon fa fa-star"></i>Save</a>
        <a href="#" class="button delete-button" {{action "closeMenuPanel"}}><i class="place--action--icon fa fa-times"></i>Close</a>
        {{input class="place--title __input" type="text" placeholder="Name" value=place.name}}
        <i class="place--labels--icon fa fa-tag" {{action "showAddLabel" bubbles="false"}}></i>
        <ul class="place--labels clearfix" {{action "showAddLabel" bubbles="false"}}>
          <li class="place--labelitem">{{place.label.name}}</li>
          <li class="place--labelitem">
            <i class="place--add--icon fa fa-plus" ></i>
          </li>
        </ul>
      </header>

      <main class="place--main">

        {{#if placeExist}}
        <div class="place--info--holder row">
          <div class="shrink columns">
            <i class="place--action--icon fa fa-exclamation-circle"></i>
          </div>
          <div class="columns">
            This place seems to be in your list.
          </div>
        </div>
        {{/if}}

        <div class="place--info--holder row">
          {{#if place.formattedaddress}}
          <div class="columns small-12">
            <div class="place--address row">
              <div class="shrink columns">
                <i class="place--main--icon fa fa-map-marker"></i>
              </div>
              <div class="columns">
                {{place.formattedaddress}}
              </div>
            </div>
          </div>
          {{/if}}
          {{#if place.phone}}
          <div class="columns small-12">
            <a href="tel:{{place.phone}}">
              <div class="place--phone row">
                <div class="shrink columns">
                  <i class="place--main--icon fa fa-phone"></i>
                </div>
                <div class="columns">
                  {{place.phone}}
                </div>
              </div>
            </a>
          </div>
          {{/if}}
        </div>


        <div class="place--info--holder row">
          {{#if place.website}}
          <div class="columns small-12">
            <a href="{{place.website}}">
              <div class="place--website row">
                <div class="shrink columns">
                  <i class="place--main--icon fa fa-globe"></i>
                </div>
                <div class="columns">
                  {{place.website}}
                </div>
              </div>
            </a>
          </div>
          {{/if}}
          {{#if place.url}}
          <div class="columns small-12">
            <a href="{{place.url}}">
              <div class="place--url row">
                <div class="shrink columns">
                  <i class="place--main--icon fa fa-google"></i>
                </div>
                <div class="columns">
                  Google Map
                </div>
              </div>
            </a>
          </div>
          {{/if}}
        </div>

        <div class="place--info--holder row">
          <div class="columns small-12">
            <a href="http://maps.google.com/maps?daddr={{place.locationlat}},{{place.locationlng}}&amp;ll=" target="_blank">
              <div class="place--direction row">
                <div class="shrink columns">
                  <i class="place--main--icon fa fa-location-arrow"></i>
                </div>
                <div class="columns">
                  Get direction
                </div>
              </div>
            </a>
          </div>
        </div>

        {{#if place.rating}}
        <div class="place--info--holder row">
          <div class="columns">
            <div class="place--rating">
              {{star-rating-fa item=place rating=place.rating}}
            </div>
          </div>
        </div>
        {{/if}}
      </main>
    </article>
  </div>
</div>



<div class="tool_box--holder search_tool">
  <div class="row align-middle align-right">
    <div class="google_footer small-4 medium-5 columns">
      <img src="assets/images/powered-by-google/android/res/drawable-hdpi/powered_by_google_on_white.png" alt="powered-by-google" >
    </div>
    <div class="tool_box small-8 medium-7 columns">
      <div class="button-group tool_box--button-group">
        {{#if searchPanelIsDisplayed}}
          <a class="button tool_box--button" {{action "closeMenuPanel"}}><i class="tool_box--icon fa fa-times"></i> Close</a>
        {{else}}
          <a class="button tool_box--button" {{action "showSearchPanel"}}><i class="tool_box--icon fa fa-search"></i> Search around me</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>


{{!-- Search panel --}}
<div class="panel search_panel bottom {{searchPanelDisplayed}}">
  {{!-- Search places --}}
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">
      <h3 class="panel--section--title">Choose a label</h3>
    </div>
  </div>
  <div class="row label-panel--list--holder">
    <div class="small-12 medium-8 medium-offset-2 columns">
      <div class="row">
          <a class="button button_label label_edition {{labelAddButton}}" {{action "showLabelAdd" label}}><i class="label_edition--icon fa fa-plus"></i></a>
          <div class="label_edition--content {{labelAdd}}">
            {{add-label-button action="hideLabelAdd"}}
          </div>

        {{#each userLabels as |label|}}
          <a class="button button_label" {{action "searchMaps" label}}>{{label.name}}</a>
        {{/each}}
    </div>
    </div>
  </div>
</div>
{{!-- End Search panel --}}

{{!-- Label panel --}}
{{label-panel userLabels=userLabels labelPanelDisplayed=labelPanelDisplayed model=place autoSaveLabel=false}}

<a class="panel-overlay bottom {{searchPanelDisplayed}}" {{action "closeMenuPanel"}}></a>
<a class="panel-overlay place_map {{placePanelDisplayed}}" {{action "closeMenuPanel"}}></a>
