<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <form {{action "authenticate" on="submit"}} class="login-form">
      <div class="row">
        <div class="small-12 medium-6 columns">
          {{input value=identification type="email" placeholder="Enter Login"}}
        </div>
        <div class="small-12 medium-6 columns">
          {{input value=password type="password" placeholder="Enter Password"}}
        </div>
      </div>
      <div class="login-form--button-holder row">
        <div class="small-12 columns">
          <button type="submit" class="button"><i class="fa fa-sign-in"></i> Sign in</button>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="columns">
        {{#if errorMessage}}
          {{errorMessage}}
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="columns">
        <a {{action 'authenticateWithGoogle'}} class="button">Login with Google</a>
      </div>
    </div>

  </div>
</div>
