<div id="load_overlay" class="load_overlay"></div>

{{#if showErrorLocation}}
<div class="map_error--holder row">
  <div class="columns shrink">
    <i class="map_error--icon fa fa-exclamation-circle" aria-hidden="true"></i>
  </div>
  <div class="columns">
    <div class="map_error">
      It seems like there is a problem with the geolocation. Please make sure it is enabled in your settings.
    </div>
  </div>
</div>
{{/if}}

<div id="map" class="map-canvas map_search"></div>

{{!-- Display place information --}}
<div id="place_map" class="place_map panel left {{placePanelDisplayed}}">
  <div class="place_map--inner">
    <article class="place">
      <header class="place--header">
        {{#link-to "place" place class="button edit-button"}}<i class="place--action--icon fa fa-info-circle"></i>View details{{/link-to}}
        <a href="#" class="button delete-button" {{action "closeMenuPanel"}}><i class="place--action--icon fa fa-times"></i>Close</a>
        <h2 class="place--title">{{place.name}}</h2>
        <i class="place--labels--icon fa fa-tag" {{action "showAddLabel" bubbles="false"}}></i>
        <ul class="place--labels clearfix" {{action "showAddLabel" bubbles="false"}}>
          <li class="place--labelitem">{{place.label.name}}</li>
          <li class="place--labelitem">
            <i class="place--add--icon fa fa-plus" ></i>
          </li>
        </ul>
      </header>

      <main class="place--main">
        <div class="place--info--holder row">
          {{#if place.formattedaddress}}
          <div class="columns small-12">
            <div class="place--address row">
              <div class="small-1 columns">
                <i class="place--main--icon fa fa-map-marker"></i>
              </div>
              <div class="small-11 columns">
                {{place.formattedaddress}}
              </div>
            </div>
          </div>
          {{/if}}
          {{#if place.phone}}
          <div class="columns small-12">
            <a href="tel:{{place.phone}}">
              <div class="place--phone row">
                <div class="small-1 columns">
                  <i class="place--main--icon fa fa-phone"></i>
                </div>
                <div class="small-11 columns">
                  {{place.phone}}
                </div>
              </div>
            </a>
          </div>
          {{/if}}
        </div>


        <div class="place--info--holder row">
          {{#if place.website}}
          <div class="columns small-12">
            <a href="{{place.website}}">
              <div class="place--website row">
                <div class="small-1 columns">
                  <i class="place--main--icon fa fa-globe"></i>
                </div>
                <div class="small-11 columns">
                  {{place.website}}
                </div>
              </div>
            </a>
          </div>
          {{/if}}
          {{#if place.url}}
          <div class="columns small-12">
            <a href="{{place.url}}">
              <div class="place--url row">
                <div class="small-1 columns">
                  <i class="place--main--icon fa fa-google"></i>
                </div>
                <div class="small-11 columns">
                  Google Map
                </div>
              </div>
            </a>
          </div>
          {{/if}}
        </div>

        <div class="place--info--holder row">
          <div class="columns small-12">
            <a href="http://maps.google.com/maps?daddr={{place.locationlat}},{{place.locationlng}}&amp;ll=" target="_blank">
              <div class="place--direction row">
                <div class="small-1 columns">
                  <i class="place--main--icon fa fa-location-arrow"></i>
                </div>
                <div class="small-11 columns">
                  Get direction
                </div>
              </div>
            </a>
          </div>
        </div>

        {{#if place.rating}}
        <div class="place--info--holder row">
          <div class="columns">
            <div class="place--rating">
              {{star-rating-fa item=place rating=place.rating}}
            </div>
          </div>
        </div>
        {{/if}}
      </main>
    </article>
  </div>
</div>

{{!-- Label panel --}}
{{label-panel userLabels=userLabels labelPanelDisplayed=labelPanelDisplayed model=place autoSaveLabel=true}}

<a class="panel-overlay place_map {{placePanelDisplayed}}" {{action "closeMenuPanel"}}></a>
