{{main-header menuBack=true}}

<div class="page-wrapper big">
  {{label-panel labelPanelDisplayed=labelPanelDisplayed model=model autoSaveLabel=true}}

{{#if isEditing}}

  {{!-- Edition mode --}}
  <div class="place_details row">
    <div class="__edition medium-8 medium-offset-2 columns">
      <form {{action "savePlace" model on="submit"}}>
        <div class="row">
          <div class="columns">
            <div class="place--holder">
              <article class="place">
                <header class="place--header">
                  <a href="#" class="button delete-button" {{action "deletePlace" model bubbles="false"}}><i class="place--action--icon fa fa-trash"></i>Delete</a>
                  <a href="#" class="button cancel-button" {{action "cancelPlace" model bubbles="false"}}><i class="place--action--icon fa fa-times"></i>Cancel</a>
                  <button type="submit" class="button edit-button"><i class="place--action--icon fa fa-check"></i>Save</button>

                  <h2 class="place--title">
                    {{input type="text" class="place--input" value=model.name}}
                  </h2>
                  <i class="place--labels--icon fa fa-tag" {{action "showAddLabel" bubbles="false"}}></i>
                  <ul class="place--labels clearfix" {{action "showAddLabel" bubbles="false"}}>
                    {{#each model.labelsPlaces as |label|}}
                      <li class="place--labelitem">{{label.label.name}}</li>
                    {{/each}}
                    <li class="place--labelitem">
                      <i class="place--add--icon fa fa-plus"></i>
                    </li>
                  </ul>
                </header>
                <main class="place--main">
                  <div class="place--info--holder row">
                    <div class="columns">
                      <div class="place--rating">
                        {{#star-rating-fa  item=model rating=model.rating on-click=(action "setRating")  as |stars set|}}
                          {{#each stars as |star|}}
                            {{#if star.full}}
                              <a class="star-rating fa fa-star" {{action set star.rating}}></a>
                            {{else}}
                              <a class="star-rating fa fa-star-o" {{action set star.rating}}></a>
                            {{/if}}
                          {{/each}}
                        {{/star-rating-fa}}
                      </div>
                    </div>
                  </div>

                  <div class="place--info--holder align-middle row">
                    {{!-- Address --}}
                    <div class="small-12 columns">
                      <div class="row">
                        <div class="columns">
                          <label><i class="fa fa-map-marker"></i> Address
                            {{input value=model.formattedaddress  class="place--main-input" type="text"}}
                          </label>
                        </div>
                      </div>
                    </div>
                    {{!-- End address --}}
                  </div>

                  <div class="place--info--holder row">
                    <div class="columns small-12 medium-6">
                      <div class="place--website align-middle row">
                        <div class="small-12 columns">
                          <label><i class="fa fa-globe"></i> Website
                            {{input value=model.website class="place--main-input" type="text"}}
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="columns small-12 medium-6">
                      <div class="place--phone align-middle row">
                        <div class="small-12 columns">
                          <label><i class="fa fa-phone"></i> Phone number
                            {{input value=model.phone class="place--main-input" type="text"}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="place--info--holder row">
                    <div class="columns">
                      <div class="place--phone align-middle row">
                        <div class="small-12 columns">
                          <label><i class="fa fa-info"></i> Notes
                            {{textarea type="text" cols="60" rows="3" class="place--main-input" value=model.description}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  {{!-- Special fields --}}

                  <div class="place--info--holder row">
                    <div class="columns small-12 medium-6">
                      <div class="place--phone align-middle row">
                        <div class="small-12 columns">
                          <label><i class="fa fa-usd"></i> Price
                            {{#star-rating-fa  item=model rating=model.pricerange on-click=(action "setPrice") as |stars set|}}
                              {{#each stars as |star|}}
                                {{#if star.full}}
                                  <a class="price-rating fa fa-square" {{action set star.rating}}></a>
                                {{else}}
                                  <a class="price-rating fa fa-square-o" {{action set star.rating}}></a>
                                {{/if}}
                              {{/each}}
                            {{/star-rating-fa}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  {{!-- End Special fields --}}

                </main>
              </article>
            </div>
          </div>
        </div>
        <div class="place--info--holder row">
          <div class="columns">
            <button type="submit" class="button expanded">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{!-- End Edition mode --}}

{{else}}

  {{!-- Display mode --}}
  <div class="place_details __display">

      {{#if model.locationlat}}
        {{google-map longitude=mapLng latitude=mapLat}}
      {{/if}}

      <div class="place--holder">
        <article class="place">
          <header class="place--header">
            <div class="row">
              <div class="columns">
                <a href="#" class="button share-button" {{action "sharePlace"}}><i class="place--action--icon fa fa-share-alt"></i>Share</a>
                <a href="#" class="button edit-button" {{action "toggleEdition"}}><i class="place--action--icon fa fa-pencil-square-o"></i>Edit</a>

                {{input class="place--title __input" type="text" placeholder="Name" value=model.name}}
                <i class="place--labels--icon fa fa-tag" {{action "showAddLabel" bubbles="false"}}></i>
                <ul class="place--labels clearfix" {{action "showAddLabel" bubbles="false"}}>
                  {{#each model.labelsPlaces as |label|}}
                    <li class="place--labelitem">{{label.label.name}}</li>
                  {{/each}}
                  <li class="place--labelitem">
                    <i class="place--add--icon fa fa-plus" ></i>
                  </li>
                </ul>
              </div>
            </div>
          </header>

          <main class="place--main">
            <div class="row">
              <div class="columns">
                {{#if hasPhoneOrAddress}}
                <div class="place--info--holder row">
                  {{#if model.formattedaddress}}
                  <div class="columns small-12 medium-6">
                    <div class="place--spacing place--address row">
                      <div class="place--main--icon--holder small-1 columns">
                        <i class="place--main--icon fa fa-map-marker"></i>
                      </div>
                      <div class="small-11 columns">
                        {{model.formattedaddress}}
                      </div>
                    </div>
                  </div>
                  {{/if}}
                  {{#if model.phone}}
                  <div class="columns small-12 medium-6">
                    <a href="tel:{{model.phone}}">
                      <div class="place--phone row">
                        <div class="place--main--icon--holder small-1 columns">
                          <i class="place--main--icon fa fa-phone"></i>
                        </div>
                        <div class="small-11 columns">
                          {{model.phone}}
                        </div>
                      </div>
                    </a>
                  </div>
                  {{/if}}
                </div>
                {{/if}}


                {{#if hasUrlOrWebsite }}
                <div class="place--info--holder row">
                  {{#if model.website}}
                  <div class="columns small-12 medium-6">
                    <a href="{{model.website}}">
                      <div class="place--spacing place--website row align-middle">
                        <div class="place--main--icon--holder small-1 columns">
                          <i class="place--main--icon fa fa-globe"></i>
                        </div>
                        <div class="small-11 columns">
                          {{model.website}}
                        </div>
                      </div>
                    </a>
                  </div>
                  {{/if}}
                  {{#if model.url}}
                  <div class="columns small-12 medium-6">
                    <a href="{{model.url}}" target="_blank">
                      <div class="place--url row align-middle">
                        <div class="place--main--icon--holder small-1 columns">
                          <i class="place--main--icon fa fa-google"></i>
                        </div>
                        <div class="small-11 columns">
                          Google Map
                        </div>
                      </div>
                    </a>
                  </div>
                  {{/if}}
                </div>
                {{/if}}

                <div class="place--info--holder row">
                  <div class="columns small-12 medium-6">
                    <a href="http://maps.google.com/maps?daddr={{model.locationlat}},{{model.locationlng}}&amp;ll=" target="_blank">
                      <div class="place--spacing place--direction align-middle row">
                        <div class="place--main--icon--holder small-1 columns">
                          <i class="place--main--icon fa fa-location-arrow"></i>
                        </div>
                        <div class="small-11 columns">
                          Get direction
                        </div>
                      </div>
                    </a>
                  </div>
                  {{#if model.pricerange}}
                  <div class="columns small-12 medium-6">
                    <div class="place--price row align-middle">
                      <div class="place--main--icon--holder small-1 columns">
                        <i class="place--main--icon fa fa-usd"></i>
                      </div>
                      <div class="small-11 columns">
                        {{#star-rating-fa  item=model rating=model.pricerange on-click=(action "setPrice")  as |stars set|}}
                          {{#each stars as |star|}}
                            {{#if star.full}}
                              <a class="price-rating fa fa-square" {{action set star.rating}}></a>
                            {{else}}
                              <a class="price-rating fa fa-square-o" {{action set star.rating}}></a>
                            {{/if}}
                          {{/each}}
                        {{/star-rating-fa}}
                      </div>
                    </div>
                  </div>
                  {{/if}}
                </div>

                {{#if model.description}}
                <div class="place--info--holder row">
                  <div class="columns small-12 medium-6">
                    <div class="place--description row">
                      <div class="place--main--icon--holder small-1 columns">
                        <i class="place--main--icon fa fa-info"></i>
                      </div>
                      <div class="small-11 columns">
                        {{model.description}}
                      </div>
                    </div>
                  </div>
                </div>
                {{/if}}
                <div class="place--info--holder row">
                  <div class="columns">
                    <div class="place--rating">
                      {{#star-rating-fa item=model rating=model.rating on-click=(action "setRating")  as |stars set|}}
                        {{#each stars as |star|}}
                          {{#if star.full}}
                            <a class="star-rating fa fa-star" {{action set star.rating}}></a>
                          {{else}}
                            <a class="star-rating fa fa-star-o" {{action set star.rating}}></a>
                          {{/if}}
                        {{/each}}
                      {{/star-rating-fa}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </article>


      </div>
  </div>
  {{!-- End Display mode --}}

{{/if}}


  {{#if session.isAuthenticated}}
    {{tool-box}}
  {{/if}}
</div>
